header{
    height: 100vh;
    width: 100vw;
    background: url(images/REAL.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   
}
.brand-logo{
    font-family: 'Libre Baskerville', serif;
    font-size: 20px!important;
}
.brand-logo span{
    font-size: 15px;
    padding-left: 10px;
}
nav{
    box-shadow: none;
    
}

a{
    color: black!important;
}
.nav-wrapper{
    
}